<h2>Here is a list of all your tasks for the day:</h2>

<p>
  <% @task_list.each do |v| %>
    <% if v.completed_at == nil %>
      <p><%="Incomplete task: #{v.name}" %></p>
    <% else %>
      <p><%= "Complete task: #{v.name} on #{v.completed_at.month}/#{v.completed_at.day}/#{v.completed_at.year}" %></p>
    <% end %>
  <% end %>
</p>

<h4><%= link_to "Click here to create a new task!", tasks_new_path %></h4>
