<h3>Enter a new task here:</h3>
<form class="" action="index.html" method="post">
  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="task_name">Task: </label>
  <input type="text" name="task_name" id="task_name" value="">
  <br>

  <label for="task_description">Description: </label>
  <input type="text" name="task_description" id="task_description" value="">
  <br>

  <label for="completed">Completed on: </label>
  <input type="date" name="completed" id="completed" value="">
  <br>

  <label for="date_completed">Date Completed: </label>
  <input type="text" name="date_completed" id="date_completed" value="">
  <br>

  <input type="submit" value="GIT 'ER DONE">
  <br>

</form>
