/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('foundation.css');

html {
  width: 50%;
  margin: 0 auto;
}

body {
  text-align: center;
  background-color: #d7d7d7;
}

p, td {
  font-family: 'Cabin Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'Londrina Solid', cursive;
}

a {
  color: #1b9e06;
}

a:hover {
  color: #23cd07;
}

tr:nth-of-type(odd) {
  background-color: #dadada;
}

tr:nth-of-type(even) {
  background-color: #dad7d7;
}

#new-task-button {
  background-color: transparent;
  border-radius: 15px;
}

#new-task-button:hover {
  background-color: #a2cd9b;
}

#new-task-button h3 {
  color: black;
}

table th {
  background-color: #a2cd9b;
  font-size: 2em;
}
