/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('foundation.css');

body {
  text-align: center;
  background-image: url("http://cdn.wallpapersafari.com/26/80/FJBG4x.jpg");
}

p, td {
  font-family: 'Cabin Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'Londrina Solid', cursive;
}

a {
  color: #cf6d08;
}

a:hover {
  color: #9a5207;
}

tr:nth-of-type(odd) {
  background-color: #949494;
}

tr:nth-of-type(even) {
  background-color: #dad7d7;
}
